a{
  text-decoration: none;
}
.allDiv{
  display: flex;
  width:100%;
  flex-direction: column;
}
.siteHead{
  background-color:#0a3470;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  height:45px;
}
.headText{
  width:1350px;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
}
.langChange{
  z-index:9999;
  cursor: pointer;
  vertical-align: middle;
  position: absolute;
  padding:10px;
}
.listLang{
  position: absolute;
  float:left;
}
.listLang ul{
  list-style: none;
  margin:0;
  padding:0;
  width:120px;
  background-color: orange;
  border-radius: 5%;
}
.listLang li{
  display: inline-block;
  height:100%;
  padding:10px;
}
.navHead {
  float: right; 
  margin-right:5px;
}
.navHead ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width:100%;
}
.navHead li {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
  cursor: pointer;
  padding: 10px;
  position: relative;
}
.navHead a{
  color:#fff;
}
.navHead a:hover{
  color: red;
  transition: all 1s;
}
.navHead li:hover{
  color: red;
  transition: all 1s;
}
.navHead li:after {
  position: absolute;
  margin-left:50%;
  content: "";
  width: 0;
  height: 3.5px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #b00000;
  transition: all 1s;
}
.navHead li:hover:after {
  width: 100%;
  margin-left:0px;
}
.menuLogo{
height: 100px;
}
.mainAreaOne{
  width: 100%;
}
.mainString{
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  width:100%;
  display: flex;
  justify-content: center;
  z-index:999;
}
.mainStringCenter{
  width:1350px;
}
.mainString ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width:100%;
}
.mainString li {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
  cursor: pointer;
  padding-top: 40px;
  padding-bottom:  40px;
  position: relative;
}
.mainMenu {
  float:right;
}
.mainMenu a{
  color:#fff;
  list-style: none;
}
.blockLogo{
  float:left;
}
.newsBlock{
  width:100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.newsBlockMini{
  width:100%;
  max-width:1350px;
}
.newsTitle{
  font-size:30pt;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}
.newsTitleList{
  display:flex;
  justify-content: center;
  align-items: center;
}
.newsTitleList li {
  display: inline-block;
  padding-right: 30px;
  padding-left: 0px;
  cursor: pointer;
  padding: 10px;
  position: relative;
  
}
.newsTitleList a{
  color:blue;
  font-weight: bold;
}
.newsMainBlock{
  width:100%;
  display:flex;
}
.newsMainBlockLeft{
  max-width: calc(100% - 300px);
  width:100%;
}
.newsMainBlockRight{
  width: 300px;
}
.newsEventsList{
width:100%;
height:400px;
display:flex;
align-items: center;
justify-content: space-around;
}
.newsEvents{
width:30%;
height:90%;

}
.newsEventsImg{
  width:100%;
  height:250px;
  background-position: top center;
  background-image: url(./img/Sitelogo.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.newsEventsText{
  width:100%;
  height:150px;
  text-align: center;
}
.newsMainBlockRight{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.newsPillar{
  width: 90%;
  height: 120px;
}
.sectionsVideo{
  min-width: 250px;
}
.sectionsVideo ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width:100%;
}
.sectionsVideo li {
  cursor: pointer;
  padding: 10px;
  position: relative;
}
.blockVideoBoss{
  width:100%;
  overflow: hidden;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blockVideo{
  display:flex;
  width:1350px;
  justify-content: space-around;
}
.verticalText{
width:80px;
display: flex;
align-items: center;
justify-content: center;
font-size: 36pt;
font-weight: bold;
writing-mode: tb-rl;
transform:rotate(180deg);
}
.sliderVideos{
  max-width:930px;
}


.blue{
  padding:0px;
  margin-top:45px;
  position: absolute;
  width: 100%;
  background-color: #0a3470;
  color:#fff;
  z-index:9999999;
}


@media screen and (max-width: 1350px){
  .blockVideoBoss{
    display: block;
  }
}