.newsSlider .slick-slide{
    width:100%;
    height: 600px;
    overflow: hidden;
    background-position: top center;
    background-image: url(../../img/Sitelogo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.newsSlider  .slick-slide img{
    width:100%;
}
.newsSlider  .slick-dots{
    bottom: 10px;
    z-index:999999;
    color:blue;
}
.newsSlider  .slick-dots li.slick-active button:before,
.newsSlider  .slick-dots li button:before{
    color:blue;
}
